
.menu__link {
    color: rgb(148, 3, 3);
    text-decoration: none;
    text-transform: lowercase;
    margin-right: 1.25rem;
           
}

.menu__link:hover {
    text-decoration: underline;
    color: #014034;
}

.menu--ativo {
    color:  rgb(7, 19, 18);
    font-weight: bold;
}